.body {
  background-color: powderblue;
  position: fixed;
  height: 100%;
  
}

.Profile-Picture {
  border-radius: 1rem;
  /* border: 2.5px solid white; */
  margin: 20px;
  width: 50%;
  height: 50%;
}

.ContainerPic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  text-align: center;
  font-size: large;
}

.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.searchButton {
  size: 50px;
}

.handling {
  text-align: center;
}


.App {
  text-align: center;
}






