.body {
  background-color: #b0e0e6;
  position: fixed;
  height: 100%;
}

.ProfilePicture {
  border-radius: 1rem;
  /* border: 2.5px solid white; */
  margin: 20px;
  width: 65%;
  height: 65%;
}

.ContainerPic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
